<div class="webpage" style="padding: 0px; margin: 0px;">

  <!-- load external page internally -->
   <iframe id="internal-webpage" class="internal" type="text/html" src="<%= webpage.url %>" >
   </iframe>

   <div class="app" id="app">

     <div class="app-container">


     <div id="toggle-app-display">
       <h4 style="font-size: 4px">
         <span style="color: #4285F4; font-size: 20px;">C</span>
         <span style="color: #DB4437; font-size: 20px;">t</span>
         <span style="color: #F4B400; font-size: 20px;">r</span>
         <span style="color: #4285F4; font-size: 20px;">l</span>
         <span style="color: #0F9D58; font-size: 20px;">+</span>
         <span style="color: #DB4437; font-size: 20px;">F</span>
       </h4>
     </div>

     <div class="appDisplay" id="appDisplay">
       <span id="close-app-display"><h4 class="glyphicon glyphicon-minus"></h4></span>
       <span>
         <h1 style="font-size: 15px">
             <span style="color: #4285F4; font-size: 32px;">C</span style="color: yellow;">
             <span style="color: #DB4437; font-size: 32px;">t</span>
             <span style="color: #F4B400; font-size: 32px;">r</span>
             <span style="color: #4285F4; font-size: 32px;">l</span>
             <span style="color: #0F9D58; font-size: 32px;">+</span>
             <span style="color: #DB4437; font-size: 32px;">F</span>
             <% if(isLoggedIn) { %>
             <span>
               <div class="dropdown pull-right">
                 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border: 0px; background-color: rgba(0,0,0,0); padding-top: 0;">
                   <span style="font-size: 22px; color: grey;" class="glyphicon glyphicon-th"></span>
                 </button>
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                   <li><a href="/">Home</a></li>
                   <li><a href="/profile">My Profile</a></li>
                   <li role="separator" class="divider"></li>
                   <li><a href="/logout-here">Logout</a></li>
                 </ul>
               </div>
             </span>
             <% } %>
         </h1>

       </span>


         <div class="row">
           <div class="col-sm-1">

           </div>
          <div class="col-sm-5">
            <h4>Comments</h4>
            <ul id="display-comments">
              <% comments.forEach( function(c, i) { %>
                <% if(i > comments.length - 6) { %>
                  <div class="comment" id="<%= c._id %>">
                    <li id="comments-list" style="margin-bottom: 0px;">
                      "<span><%= c.body %></span>"
                      <h5 style="margin-top: 0;margin-bottom: 0px;"><%= c.userName %></h5>

                      <% if ( isLoggedIn ) { %>
                        <% if ( String(c.user) == String(currentUser._id) ) { %>
                      <p class="delete-comment deleteEdit glyphicon glyphicon-trash"></p>
                      <p class="edit-comment-button deleteEdit glyphicon glyphicon-pencil"></p>
                        <% } %>
                      <% } %>
                  </li>
                  </div>
                <% } %>
              <% }) %>
            </ul>
          </div>
          <div class="col-sm-1">

          </div>

           <div class="col-sm-4" style="padding-right: 20px;">

              <% if(isLoggedIn) { %>
                 <div>
                    <h4>Add Comment</h4>
                     <input type="text" id="comment-body"><br/>
                     <button type="button" userName="<%= currentUser.local.name %>" userId="<%= currentUser._id %>" pageId="<%= webpage._id %>" id="comment-submit" style="margin-top: 10px;">Submit</button>
                 </div>


              <% } else { %>

                <form action="/login-here" method="post">


                  <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" name="email" />
                  </div>
                  <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" name="password" />
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-default">Login</button>
                  </div>
              </form>

              <% } %>



            </div>
            <div class="col-sm-1">

            </div>
          </div>
        </div>
      </div>
  </div>

</div>

<script type="text/javascript">

  var $displayComments = $('#display-comments')
  var $internalWebpage = $('internal-webpage')
  var $appDisplay = $('#appDisplay')
  var $app = $('#app')
  var $closeApp = $('#close-app-display')
  var $commentBody = $('#comment-body')
  var $commentSubmit = $('#comment-submit')
  var $loginHere = $('#login-here')
  var $emailHere = $('#email-here')
  var $passwordHere = $('#password-here')
  var $toggleAppDisplay = $('#toggle-app-display')
  var $commentsList = $('#comments-list')
  var $deleteComment = $('.delete-comment')
  var $editComment = $('.edit-comment-button')
  var $authorizeDelete = $('#authorize-delete')
  var $commentBody = $('#comment-body')

  var $editForm = $('<div>').attr('id', 'edit-form')
  $editForm.append('<input type="text" class="edit-input">')
  $editForm.append('<button class="update-button">Update</button>')

  $displayComments.on('click', 'li p.edit-comment-button', function() {
    $(this).parent().append($editForm)
    $('.edit-input').val($(this).prev().prev().prev().text())
  })

  $displayComments.on('click', 'li #edit-form button', function() {
    console.log('update button clicked!')
    var comment = $(this).parent().parent().parent().attr('id')

    var requestSettings = {
      method: 'PATCH',
      url: '/comments/' +comment,
      data: JSON.stringify({ body: $(this).prev().val() }),
      contentType: 'application/json'
    }
    $.ajax(requestSettings).done(function(response) {
      console.log(response)
      if(response.success) {
        $('#' + comment + " span").text(response.comment.body)
        $editForm.slideUp()
      }
    })
  })



  $displayComments.on('click', 'li p.delete-comment', function() {
    var comment = $(this).parent().parent().attr('id')

    var requestSettings = {
      method: "DELETE",
      url: "/comments/" + comment
    }
    $.ajax(requestSettings).done(function(response) {
      $('#' + comment).remove()
    })
  })


  $toggleAppDisplay.on('click', function() {
    $appDisplay.toggle()
    $toggleAppDisplay.toggle()
  })

  $closeApp.on('click', function () {
    $appDisplay.toggle()
    $toggleAppDisplay.toggle()
  })


  $loginHere.on('click', function() {
    var pageId = $(this).attr('pageId')
    var requestSettings = {
      method: "POST",
      url: '/login-here',
      data: JSON.stringify({id: $emailHere.val(), password: $passwordHere.val()}),
      contentType: "application.json"
    }
    $.ajax(requestSettings).done(function(u) {
      window.location.replace('/webpages/' + pageId)
    })
  })


  $commentSubmit.on('click', function () {

    var pageId = $(this).attr('pageId');
    var userId = $(this).attr('userId');
    var userName = $(this).attr('username');

    var requestSettings = {
      method: "POST",
      url: "/webpages/"+ pageId +"/comments",
      data: JSON.stringify({body: $commentBody.val(), user: userId, userName: userName}),
      contentType: "application/json"
    }

    $.ajax(requestSettings).done(function (c) {
      var theLi = $('<li>')
      var theDelete = $('<p>').addClass('delete-comment deleteEdit glyphicon glyphicon-trash')
      var theEdit = $('<p>').addClass('edit-comment-button deleteEdit glyphicon glyphicon-pencil')
      var theDiv = $('<div class="comment">')

      theLi.html('<span>' + c.comment.body + '</span>')
      theLi.append("<h5 style='margin-top: 0;margin-bottom: 0px;'>-" + userName +"</h5>")
      theLi.append(theDelete)
      theLi.append(theEdit)
      theDiv.attr('id', c.comment._id)
      theDiv.append(theLi)
      $displayComments.append(theDiv)
      $commentBody.val("")
    })

  })

</script>
